* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, "Courier New", Courier, monospace;
}

body {
  background: #f0f0f0;
}

.shadow {
  /* -webkit-box-shadow: 3px 3px #888;
  -moz-box-shadow: 3px 3px #888; */
  box-shadow: 3px 3px #888;
}

/* NAV */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  padding: 30px;
  list-style: none;
}

a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  border-radius: 2px;
  color: black;
  height: 60px;
  padding: 0 20px;
  transition: 0.2s;
}

a:hover {
  background: white;
}

span {
    text-align: center;
}

.question,
.sign-in {
  background-size: contain;
  width: 40px;
  height: 40px;
}

.question,
.sign-in,
.flag {
  margin-right: 20px;
}

.question {
  background: url(./question.svg) no-repeat;
}

.sign-in {
  background: url(./sign-in.svg) no-repeat;
}

.flag {
  background: url(./flag.svg) no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.lang {
  margin-right: 10px;
}

.choose-lang {
  position: absolute;
  width: 130px;
  background: white;
}

.choose-lang > a {
  border-radius: initial;
}

.choose-lang > a:hover {
  background: lightgrey;
}

.arrow-down {
  background: url(./arrow-down.svg) no-repeat;
  width: 20px;
  height: 15px;
}
/* NAV */

/* STEP */
.step-container {
  display: flex;
  align-items: center;
  max-width: 450px;
  height: 100px;
  margin: 0 auto 20px;
}

.step {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100px;
  text-align: center;
  padding: 10px;
}

.step-circle {
  display: block;
  background-color: #1ba1e2;
  color: white;
  font-weight: bold;
  border: 1px solid #006eaf;
  border-radius: 100%;
  line-height: 46px;
  height: 50px;
  width: 50px;
}

.step-txt {
  padding-top: 10px;
}

hr {
  transform: translateY(-10px);
  width: calc(100% - 200px);
  border: none;
  border-top: 2px dashed grey;
}
/* STEP */

/* CONTENT */
.container {
  padding: 0 20px 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
  max-width: 842px;
  min-height: calc(100vh - 310px);
  margin: auto;
  padding: 0 20px;
}

.content-inner {
  max-width: 400px;
  padding: 40px 0;
}

h1,
p {
  text-align: center;
  margin-bottom: 40px;
}

label,
input {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #4c9aff;
  border-radius: 2px;
}

.require {
  color: red;
}

button {
  display: flex;
  justify-content: center;
  float: right;
  color: white;
  background: #1ba1e2;
  padding: 10px;
  border: 1.5px solid #006eaf;
  border-radius: 2px;
  width: 180px;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
  background: #1292d3;
}

.arrow-right {
  background: url(./arrow-right.svg) no-repeat;
  position: absolute;
  transform: translateX(50px);
  width: 20px;
  height: 15px;
}
/* CONTENT */


@media screen and (max-width: 550px) {
    ul {
        padding: 0 0 20px;
    }

    li {
        width: 33%;
    }

    a {
        padding: 10px 0;
    }

    span {
        width: 100%;
        text-align: center;
    }

    ul > li:first-child > a > span,
    ul > li:nth-child(2) > a > span
    {
        border-right: 1px solid lightgrey;
    }

    .question, .sign-in, .flag {
        display: none;
    }

    .choose-lang {
        right: 0;
    }

    .choose-lang > a {
        padding: 0 20px;
    }

    .choose-lang > a > span:first-child {
        
        width: calc(100% - 20px);
    }

    .step-container {
        padding: 0 30px;
    }

    .content {
        min-height: calc(100vh - 240px);
    }
}