.container {
  padding: 0 20px 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
  max-width: 842px;
  min-height: calc(100vh - 310px);
  margin: auto;
  padding: 0 20px;
}

.content-inner {
  max-width: 400px;
  padding: 40px 0;
}

h1,
p {
  text-align: center;
  margin-bottom: 40px;
}

label,
input {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #4c9aff;
  border-radius: 5px;
}

.require {
  color: red;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  color: white;
  background: #1ba1e2;
  border: 1.5px solid #006eaf;
  border-radius: 5px;
  text-decoration: none;
  width: 180px;
  height: 40px;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background: #1292d3;
  }
  
  &:hover .arrow-right {
    transform: translateX(60px);
  }

  &:active {
    background: #2fa1da;
    transform: scale(1.05);
  }

  &:active .arrow-right {
    transform: translateX(60px);
  }
}

.arrow-right {
  background: url(../assets/img/arrow-right.svg) no-repeat;
  position: absolute;
  transform: translateX(50px);
  width: 20px;
  height: 15px;
  transition: 0.2s;
}

@media screen and (max-width: 550px) {
  .content {
    min-height: calc(100vh - 240px);
  }
}
