ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  padding: 30px;
  list-style: none;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 2px;
  color: black;
  height: 60px;
  padding: 0 20px;
  transition: 0.2s;
}

button:hover {
  background: white;
}

span {
  text-align: center;
}

.question,
.sign-in {
  background-size: contain;
  width: 40px;
  height: 40px;
}

.question,
.sign-in,
.flag {
  margin-right: 20px;
}

.question {
  background: url(../assets/img/question.svg) no-repeat;
}

.sign-in {
  background: url(../assets/img/sign-in.svg) no-repeat;
}

.flag {
  background: url(../assets/img/flag.svg) no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.lang {
  margin-right: 10px;
}

.choose-lang {
  display: none;
  position: absolute;
  width: 140px;
  background: white;
}

.choose-lang > a {
  border-radius: initial;
}

.choose-lang > a:hover {
  background: lightgrey;
}

.visible {
  display: block;
}

.arrow-down {
  background: url(../assets/img/arrow-down.svg) no-repeat;
  width: 20px;
  height: 15px;
}

/* width 550 */
@media screen and (max-width: 550px) {
  ul {
    padding: 0 0 20px;
  }

  li {
    width: 33%;
  }

  button {
    padding: 10px 0;
  }

  span {
    width: 100%;
    text-align: center;
  }

  li:nth-child(3) > a {
    justify-content: center;
  }

  li:nth-child(3) > a > span:nth-child(2) {
    width: auto;
  }

  li:nth-child(4) {
    width: 33%;
  }

  ul > li:first-child > a > span,
  ul > li:nth-child(2) > a > span {
    border-right: 1px solid lightgrey;
  }

  .question,
  .sign-in,
  .flag {
    display: none;
  }

  .choose-lang {
    right: 0;
  }

  .choose-lang > a {
    padding: 0 20px;
  }

  .choose-lang > a > span:first-child {
    width: calc(100% - 20px);
  }
}